<div class="container">
  <div class="row">
    <div class="column-2">
      <form class="wrapper" [formGroup]="eventDetailsForm">
        <!-- <div class="wrapper"> -->
        <!-- <div class="form-group"> -->
        <div for="selectType" class="div-text">סוג האירוע</div>
        <select
          class="input-detail"
          [ngClass]="{
            invalidInput:
              !eventDetailsForm.controls['date'].valid &&
              eventDetailsForm.controls['date'].dirty
          }"
          formControlName="eventTypeCode"
          id="selectType"
        >
          <option *ngFor="let t of commonService.eventTypes" [ngValue]="t.id">{{
            t?.description
          }}</option>
        </select>
        <div
          class="invalidField"
          *ngIf="
            !eventDetailsForm.controls['eventTypeCode'].valid &&
            eventDetailsForm.controls['eventTypeCode'].dirty
          "
        >
          שדה זה הינו שדה חובה
        </div>

        <!-- </div> -->
        <!-- <div class="form-group"> -->
        <div class="div-text">תאריך האירוע</div>
        <input
          type="date"
          class="input-detail"
          [ngClass]="{
            invalidInput:
              !eventDetailsForm.controls['date'].valid &&
              eventDetailsForm.controls['date'].dirty
          }"
          id="eventDate"
          formControlName="date"
          name="eventDate"
        />
        <div
          class="invalidField"
          *ngIf="
            !eventDetailsForm.controls['date'].valid &&
            eventDetailsForm.controls['date'].dirty
          "
        >
          שדה זה הינו שדה חובה
        </div>

        <!-- </div> -->
        <!-- <div class="form-group"> -->
        <div class="div-text">שם החוגגים</div>
        <input
          autocomplete="off"
          type="text"
          class="input-detail"
          [ngClass]="{
            invalidInput:
              !eventDetailsForm.controls['name'].valid &&
              eventDetailsForm.controls['name'].dirty
          }"
          id="name"
          formControlName="name"
          required
          name="name"
        />
        <div
          class="invalidField"
          *ngIf="
            !eventDetailsForm.controls['name'].valid &&
            eventDetailsForm.controls['name'].dirty
          "
        >
          שדה זה הינו שדה חובה
        </div>

        <!-- </div> -->

        <!-- <div class="form-group"> -->
        <div class="div-text">טקסט אישי</div>
        <input
          type="text"
          class="input-detail"
          id="freeText"
          formControlName="freeText"
          name="freeText"
        />

        <!-- </div> -->

        <!-- <div>
          <img
            style="width:20%"
            *ngIf="commonService.currentEvent.picture != null"
            src="http://localhost:52718/images/{{
              commonService.currentEvent.picture
            }}"
          />
        </div>
        <div><img style="width:20%" [src]="url" *ngIf="url" /></div> -->
        <!-- <div class="buttons-div"> -->
        <button
          class="confirm-event-button"
          (click)="confirmEvent()"
          [disabled]="
            eventDetailsForm.invalid ||
            (flagFile == false && commonService.currentEvent.picture == null)
          "
        >
          שמור אירוע
        </button>

        <!-- </div> -->
        <!-- <div *ngIf="commonService.currentEvent.picture == null && myFile == null">
        <label class="label-of-file-new-upload">
          בחר תמונה<input
            id="file"
            type="file"
            class="upload-file"
            (change)="changeFile($event)"
        /></label>
      </div> -->
        <!-- <div *ngIf="commonService.currentEvent.picture != null || myFile != null">
        <label class="label-of-file"
          >בחר תמונה חדשה<input
            id="file"
            type="file"
            class="upload-file"
            (change)="changeFile($event)"
        /></label>
      </div> -->
        <!-- </div> -->
      </form>
    </div>
    <div class="column-1">
      <div class="eventList">
        <div class="event-list-item">
          <p class="new-event-button " (click)="createNewEvent()">
            צור אירוע חדש
          </p>
        </div>
        <!-- *ngIf="" -->
        <div
          (click)="changeEvent(event)"
          class="event-list-item"
          *ngFor="let event of eventList"
        >
          <p>
            {{
              eventService.convertEventCodeToEventDescription(
                event.eventTypeCode
              )
            }}
            של {{ event.name }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div _ngcontent-c6="" class="breadcrumbs">פרטי האירועים שלך</div> -->

  <!-- <div class="container-flex"> -->
  <!-- class="eventDetailsForm" -->
</div>
