<!-- <body> -->
<!-- <div> -->
<nav class="navi">
  <div class="logo-div">
    <img class="img-logo" src="assets/images/logo-04.png" />
  </div>
  <div class="nav-menu-home">
    <button class="nav-menu-item" routerLink="/">
      יציאה

      <i class="fa fa-sign-out"></i>
    </button>

    <button class="nav-menu-item" routerLink="/new-user">
      יצירת חשבון

      <i class="fas fa-edit i-nav"></i>
    </button>
  </div>
</nav>
<div class="container">
  <div _ngcontent-c6="" class="breadcrumbs">כניסה</div>
  <form [formGroup]="loginForm" class="login">
    <div class="wrapper">
      <!-- <div class=""> -->
      <div class="div-text">הכנס דוא"ל</div>
      <input
        type="email"
        [ngClass]="{
          invalidInput:
            !loginForm.controls['email'].valid &&
            loginForm.controls['email'].dirty
        }"
        class=" input-login"
        id="email"
        formControlName="email"
        autocomplete="off"
      />
      <div
        class="invalidField"
        *ngIf="
          !loginForm.controls['email'].valid &&
          loginForm.controls['email'].dirty
        "
      >
        שדה זה הינו שדה חובה
      </div>
      <!-- <label for="email" class=" label-login">דוא"ל</label> -->

      <!-- </div> -->
      <!-- <div class=""> --><br />
      <div class="div-text">הכנס סיסמא</div>
      <input
        type="text"
        [ngClass]="{
          invalidInput:
            !loginForm.controls['password'].valid &&
            loginForm.controls['password'].dirty
        }"
        class=" input-login"
        id="password"
        formControlName="password"
        autocomplete="off"
      />
      <div
        class="invalidField"
        *ngIf="
          !loginForm.controls['password'].valid &&
          loginForm.controls['password'].dirty
        "
      >
        שדה זה הינו שדה חובה
      </div>
      <!-- <label class=" label-login" for="password">סיסמא</label> -->

      <!-- </div> -->
      <button
        class=" login-button"
        (click)="login()"
        [disabled]="loginForm.invalid"
      >
        כניסה
      </button>
      <!-- <button class="bright-button" routerLink="/new-user">משתמש חדש</button> -->
    </div>
  </form>
</div>
<!-- </div> -->
<!-- </body> -->
<!-- </body> -->
