<div class="container">
  <div class="info">
    <div class="wrapper">
      <div class="div-i">
        <i class="fas fa-edit"></i>
      </div>
      <div class="label-i">יוצרים אירוע</div>
    </div>
    <div class="wrapper">
      <div class="div-i">
        <i class="fas fa-users"></i>
      </div>
      <div class="label-i">מכניסים את <br />רשימת המוזמנים</div>
    </div>
    <div class="wrapper">
      <div class="div-i">
        <i class="fas fa-envelope-square"></i>
      </div>
      <div class="label-i">
        נשלחים ומתקבלים <br />
        אישורי הגעה
      </div>
    </div>
    <div class="wrapper">
      <div class="div-i">
        <i class="fas fa-braille"></i>
      </div>
      <div class="label-i">אנחנו נסדר <br />לכם את המקומות</div>
    </div>
  </div>
</div>
