.container {
  background-image: url("assets/images/BackgroundLogo.jpg");
  background-color: #cccccc;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* font-style: oblique; */
  width: 100%;
}
.wrapper {
  background: rgba(255, 255, 255, 0.35);
  /* border: solid;
  border-radius: 50%;
  border-color: beige; */
  display: inline-table;
  padding: 3%;
  margin: 10px;
}
.wrapper:hover {
  background: rgba(255, 255, 255, 0.6);
  /* border: solid;
  /* border-radius: 50%; */
  /* border-color: beige; */
}
.info {
  margin-top: 10%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.div-i {
  padding: 13%;
  margin: 10px;
}
.i-container {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 500%;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.label-i {
  text-align: center;
  font-size: large;
}
.buttons {
  display: flex;
  flex-direction: column;
  width: max-content;
  position: relative;
  left: 10%;
  top: 20%;
}
.nav-menu-home {
  color: white;
  -webkit-box-pack: right;
  justify-content: right;
  background-color: #fadedc;
  font-size: x-large;
  width: -webkit-fill-available;
  display: -webkit-box;
  display: flex;
  direction: rtl;
  align-items: center;
}
