.container {
  background-image: url("assets/images/BackgroundLogo.jpg");
  background-color: #cccccc;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
}
.regi {
  width: 50%;
}
.wrapper {
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  right: 60%;
  display: inline-grid;
  padding: 3%;
  margin: 10px;
  margin-top: 10%;
  width: 60%;
}
.div-text {
  margin: 10px;
  margin-right: 0;
  font-weight: bold;
  display: inline;
}

.input-regi {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #8a7878;
}
input:focus {
  outline: none;

  border-bottom: 2px solid black;
}
.regi-button {
  background-color: #f8c5c6;
  margin-top: 15%;
  padding: 20px;
}
button:disabled,
button[disabled] {
  cursor: no-drop;
}
.regi-button:hover {
  font-size: larger;
}
.invalidField {
  color: red;
}
.invalidInput {
  border-color: red;
}
