<!-- <body> -->
<nav class="navi">
  <div class="logo-div">
    <img class="img-logo" src="assets/images/logo-04.png" />
  </div>
  <div class="nav-menu-home">
    <button class="nav-menu-item" routerLink="/">
      יציאה

      <i class="fa fa-sign-out"></i>
    </button>

    <button class="nav-menu-item menu-item-this" routerLink="/new-login">
      חשבון קיים
      <i class="fas fa-user i-nav"></i>
      <!-- fas fa-edit i-nav -->
    </button>
  </div>
</nav>
<div class="container">
  <!-- <div class="breadcrumbs">הרשמה</div> -->
  <form [formGroup]="registrationForm" class="regi">
    <!-- <form> -->
    <div class="wrapper">
      <!-- <div class="form-group"> -->
      <div class="div-text">
        שם פרטי
      </div>
      <input
        autocomplete="off"
        class=" input-regi"
        type="text"
        [ngClass]="{
          invalidInput:
            !registrationForm.controls['firstName'].valid &&
            registrationForm.controls['firstName'].dirty
        }"
        formControlName="firstName"
        name="firstName"
        id="firstName"
      />
      <div
        class="invalidField"
        *ngIf="
          !registrationForm.controls['firstName'].valid &&
          registrationForm.controls['firstName'].dirty
        "
      >
        חובה להכניס שם פרטי
        <!-- </div> -->
      </div>

      <!-- <div class="form-group"> -->
      <div class="div-text">
        שם משפחה
      </div>
      <input
        autocomplete="off"
        type="text"
        [ngClass]="{
          invalidInput:
            !registrationForm.controls['lastName'].valid &&
            registrationForm.controls['lastName'].dirty
        }"
        formControlName="lastName"
        class="input-regi"
        name="lastName"
        id="lastName"
      />

      <div
        class="invalidField"
        *ngIf="
          !registrationForm.controls['lastName'].valid &&
          registrationForm.controls['lastName'].dirty
        "
      >
        חובה להכניס שם משפחה
      </div>

      <!-- </div> -->
      <!-- <div class="form-group"> -->
      <div class="div-text">
        טלפון
      </div>
      <input
        type="number"
        [ngClass]="{
          invalidInput:
            !registrationForm.controls['phone'].valid &&
            registrationForm.controls['phone'].dirty
        }"
        formControlName="phone"
        autocomplete="off"
        class="input-regi"
        name="phone"
        id="phone"
      />

      <div
        class="invalidField"
        *ngIf="
          !registrationForm.controls['phone'].valid &&
          registrationForm.controls['phone'].dirty
        "
      >
        חובה להכניס מספר טלפון
      </div>

      <!-- </div> -->
      <!-- <div class="form-group"> -->
      <div class="div-text">
        דוא"ל
      </div>
      <input
        type="text"
        [ngClass]="{
          invalidInput:
            !registrationForm.controls['email'].valid &&
            registrationForm.controls['email'].dirty
        }"
        autocomplete="off"
        formControlName="email"
        class="input-regi"
        name="email"
        id="email"
      />

      <div
        class="invalidField"
        *ngIf="
          !registrationForm.controls['email'].valid &&
          registrationForm.controls['email'].dirty
        "
      >
        חובה להכניס כתובת אימייל
      </div>

      <!-- </div> -->
      <!-- <div class="form-group"> -->
      <div class="div-text">
        סיסמא
      </div>
      <input
        type="text"
        [ngClass]="{
          invalidInput:
            !registrationForm.controls['password'].valid &&
            registrationForm.controls['password'].dirty
        }"
        autocomplete="off"
        formControlName="password"
        class="input-regi"
        name="password"
        id="password"
      />

      <div
        class="invalidField"
        *ngIf="
          !registrationForm.controls['password'].valid &&
          registrationForm.controls['password'].dirty
        "
      >
        חובה להכניס סיסמא
      </div>
      <button
        class="regi-button"
        type="submit"
        (click)="saveOwnerDetails()"
        [disabled]="registrationForm.invalid"
      >
        צור אירוע חדש ללא תשלום
      </button>
      <!-- </div> -->
      <!-- <div class="form-group"> -->
      <!-- <div class="div-text">
        אימות סיסמא
        <input
          type="text"
          class="input-regi"
          name="confirmPassword"
          id="confirmPassword"
          autocomplete="off"
        />
      </div>
      <div
        class="invalidField"
        *ngIf="
          registrationForm.controls['password'] !=
          registrationForm.controls['confirmPassword']
        "
      >
        חובה להכניס סיסמא תואמת
      </div> -->
      <!-- </div> -->
    </div>
    <!-- <button
      class="regi-button"
      type="submit"
      (click)="saveOwnerDetails()"
      [disabled]="registrationForm.invalid"
    >
      צור אירוע חדש <br />ללא תשלום
    </button> -->
    <!-- </form> -->
  </form>
  <!-- </body> -->
</div>
