<nav class="navi">
  <div class="logo-div">
    <img class="img-logo" src="assets/images/logo-04.png" />
  </div>
  <div class="nav-menu nav-menu-menu">
    <button class="nav-menu-item" routerLink="/">
      יציאה

      <i class="fa fa-sign-out"></i>
    </button>
    <button class="nav-menu-item" routerLink="/event-details">
      אירועים

      <i class="fa fa-sign-out"></i>
    </button>
    <button class="nav-menu-item" routerLink="/guests">
      מוזמנים

      <i class="fa fa-sign-out"></i>
    </button>
    <button class="nav-menu-item" routerLink="/seats">
      סידור שולחנות

      <i class="fa fa-sign-out"></i>
    </button>
    <button class="nav-menu-item menu-item-this" routerLink="/show-places">
      מראה מקומות

      <i class="fa fa-sign-out"></i>
    </button>
    <button class="nav-menu-item " routerLink="/guest-page">
      דף אישור הגעה
      <i class="fas fa-edit i-nav"></i>
    </button>
  </div>
</nav>
<div class="container">
  <div class="div-event-detail">
    {{
      commonService.convertEventCodeToEventDescription(
        commonService.currentEvent.eventTypeCode
      )
    }}
    {{ commonService.currentEvent.name }}
    {{
      commonService.currentEvent.date
        .slice(0, 10)
        .split("-")
        .reverse()
        .join(".")
    }}
  </div>

  <button
    class="btn-show-tables"
    *ngIf="tablesWithGuests == null"
    (click)="getTablesWithGuests(this.commonService.currentEvent.id)"
  >
    פריסת המוזמנים באולם
  </button>
  <div class="wrapper">
    <div *ngIf="tablesWithGuests" class="row">
      <div class="column-female">
        <h3>
          נשים
        </h3>
        <table class="table table-hover">
          <div class="div-table" *ngFor="let table of tablesWithGuests">
            <div *ngIf="table.male == 0">
              <label>{{ table.title }}</label>
              <div *ngFor="let guest of table.guestsFullName">
                <span>{{ guest }}</span>
              </div>
            </div>
          </div>
        </table>
      </div>
      <div class="column-male">
        <h3>
          גברים
        </h3>
        <table class="table table-hover">
          <div class="div-table" *ngFor="let table of tablesWithGuests">
            <div *ngIf="table.male == 1">
              <label>{{ table.title }}</label>
              <div *ngFor="let guest of table.guestsFullName">
                <span>{{ guest }}</span>
              </div>
            </div>
          </div>
        </table>
      </div>
    </div>
  </div>
</div>
