<nav class="navi">
  <div class="logo-div">
    <img class="img-logo" src="assets/images/logo-04.png" />
  </div>
  <div class="nav-menu nav-menu-menu">
    <button class="nav-menu-item" routerLink="/">
      יציאה

      <i class="fa fa-sign-out"></i>
    </button>
    <button class="nav-menu-item " routerLink="/event-details">
      אירועים

      <i class="fa fa-sign-out"></i>
    </button>
    <button class="nav-menu-item" routerLink="/guests">
      מוזמנים

      <i class="fa fa-sign-out"></i>
    </button>
    <button class="nav-menu-item menu-item-this" routerLink="/seats">
      סידור שולחנות

      <i class="fa fa-sign-out"></i>
    </button>
    <button class="nav-menu-item" routerLink="/show-places">
      מראה מקומות

      <i class="fa fa-sign-out"></i>
    </button>
    <button class="nav-menu-item " routerLink="/guest-page">
      דף אישור הגעה
      <i class="fas fa-edit i-nav"></i>
    </button>
  </div>
</nav>
<div class="container">
  <div class="wrapper">
    <!-- <h2 class="">גודל השולחנות באולם:</h2> -->

    <div class="row">
      <div class="column-3">
        <button class="save-button" (click)="saveTables()">
          שמירת שולחנות
        </button>
        <button (click)="setSeating()" class="set-seating-button ">
          הושבה
        </button>
      </div>

      <div class="column-1">
        <!-- div-female -->
        <h3>נשים:</h3>
        <!-- <div id="female" class="gender-div"> -->
        <ul *ngFor="let table of tableTypeList">
          <li *ngIf="table.male == false" class="div-kind-of-table">
            <input
              type="number"
              [(ngModel)]="table.amount"
              class="input-detail"
              name="amount"
              id="amount"
            />
            <span class="div-text">שולחנות של</span>

            <input
              type="number"
              [(ngModel)]="table.numOfPeople"
              class="input-detail"
              name="numOfPeople"
              id="numOfPeople"
            /><span class="div-text">אנשים. </span>
          </li>
        </ul>
        <button
          class="add-table-btn"
          id="btnMale"
          (click)="addTableType('female')"
        >
          הוספת שולחן בגודל נוסף
        </button>
        <!-- </div> -->
      </div>
      <div class="column-2">
        <h3>גברים:</h3>
        <!-- <div id="male" class="gender-div"> -->
        <ul *ngFor="let table of tableTypeList">
          <li *ngIf="table.male == true" class="div-kind-of-table">
            <input
              type="number"
              [(ngModel)]="table.amount"
              class="input-detail"
              name="amount"
              id="amount"
            />
            <span for="amount" class="div-text">שולחנות של</span>
            <input
              type="number"
              [(ngModel)]="table.numOfPeople"
              class="input-detail"
              name="numOfPeople"
              id="numOfPeople"
            />
            <span for="numOfPeople" class="div-text">אנשים. </span>
          </li>
        </ul>
        <button
          class="add-table-btn"
          id="btnMale"
          (click)="addTableType('male')"
        >
          הוספת שולחן בגודל נוסף
        </button>
        <!-- </div> -->
      </div>
    </div>
    <!-- <div class="div-btn"></div>
  </div> -->
  </div>
</div>
